#banner1 {
    display: block;
    background-color: #c4f7cf;
    height: 50%;
    width: 50%;
    padding: 5%;
}


#banner2 {
    display: block;
    background-color: #60ffb0; 
    height: 50%;
    width: 50%;
    padding: 5%;
}

#site {

}
